@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes counter {
  0% {
    /* opacity: 0; */
    --num: var(--start-value);
    /* transform: translateY(96px); */
  }
  95% {
    /* opacity: 0.3; */
    /* --num: var(--start-value); */
  }
  to {
    opacity: 1;
    --num: var(--end-value);
    transform: translateY(0px);
  }
}

.counter {
  animation: counter 2s steps(120, start) forwards;
  counter-reset: num-content var(--num);
  transform: translateX();
  /* animation-delay: calc(var(--order) * 500ms); */
}

.counter::after {
  content: counter(num-content);
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.neu {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 25px 25px 49px #bebebe, -25px -25px 49px #ffffff;
}

.asd {
  background: none;
  box-shadow: 0;
}

.yellow-circle {
  background: yellow;
  background-image: radial-gradient(orange, transparent);
  /* background-size: 5px 5px; */
  /* border: dotted 2px red; */
  box-shadow: 0 0 4px #111 inset, 0 0 2px yellow;
}

.text-image {
  background-image: url("/assets/flag1.png");
  background-size: cover;
  background-position-y: center;
  background-position-x: -9px;
}

/* #TODO REFACTOR BELOW */

.rainbow-border:before {
  scale: 0;
}

.rainbow-border:after {
  scale: 0;
}

.rainbow-border:before,
.rainbow-border:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  border-radius: 10px;
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: small 0s ease-in-out forwards, steam 20s linear infinite;
}

@keyframes small {
  0% {
    scale: 0;
  }
  80% {
    scale: 1.03;
  }
  100% {
    scale: 1;
  }
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rainbow-border:after {
  filter: blur(50px);
}
